@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
html {
  color: #000;
  /* background: #EAECEF; */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Raleway', sans-serif;
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

th {
  text-align: inherit
}

fieldset, img {
  border: 0
}

iframe {
  display: block
}

abbr, acronym {
  border: 0;
  font-variant: normal
}

del {
  text-decoration: line-through
}

address, b, caption, cite, code, dfn, em, i, th, var {
  font-style: normal;
  font-weight: 500
}

ol, ul {
  list-style: none
}

b, h1, h2, h3, h4, h5, h6 {
  /* font-size: 100%; */
  font-weight: 500
}

q:after, q:before {
  content: ""
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img, input, select {
  vertical-align: middle;
  display: inline-block
}

::-webkit-input-placeholder {
  color: #999
}

::-moz-placeholder {
  color: #999
}

::-ms-input-placeholder {
  color: #999
}

::placeholder {
  color: #999
}

embed, object {
  outline: none
}

canvas {
  -ms-touch-action: double-tap-zoom
}

html {
  height: 100%
}

body {
  min-height: 100%;
  -webkit-overflow-scrolling: touch
}

/* body, button, input, select, textarea {
  font: 12px/1.5 Helvetica, Verdana, Menlo, Gill Sans, arial, simsun
} */

.af-button {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f2d3d;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 10px 15px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  white-space: nowrap;
}

input, select, textarea {
  font-size: 100%
}

a:hover {
  text-decoration: underline
}

a, ins {
  text-decoration: none
}

#noScript {
  position: fixed;
  _position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #ccc;
  opacity: .7;
  filter: alpha(opacity=70)
}

#noScript div {
  background-color: #222;
  padding: 10px;
  border: 1px solid #000;
  position: absolute;
  width: 350px;
  margin-left: -175px;
  left: 50%;
  top: 30%;
  _top: 150px;
  border-radius: 12px;
  -webkit-transform: all .3s ease-out;
  -ms-transform: all .3s ease-out;
  transform: all .3s ease-out
}

#noScript div:hover {
  -webkit-transform: cale(1.5);
  -ms-transform: cale(1.5);
  transform: cale(1.5)
}

#noScript h2 {
  font-size: 18px;
  font-weight: 700;
  color: #fff
}

#noScript p {
  margin: 8px 0 0;
  color: #fff;
  font-size: 12px;
  line-height: 14px
}

#noScript a {
  color: #fff;
  text-decoration: underline
}

/* @font-face {
  font-family: iconfont;
  src: url(//s.sporty.net/ng/main/common/iconfont/iconfont.df3dff72a2.eot);
  src: url(//s.sporty.net/ng/main/common/iconfont/iconfont.df3dff72a2.eot#iefix) format("embedded-opentype"), url(//s.sporty.net/ng/main/common/iconfont/iconfont.7e8aee7e73.woff2) format("woff2"), url(//s.sporty.net/ng/main/common/iconfont/iconfont.deae2e5911.woff) format("woff"), url(//s.sporty.net/ng/main/common/iconfont/iconfont.667f4c517b.ttf) format("truetype"), url(//s.sporty.net/ng/main/common/iconfont/iconfont.8522cce87b.svg#iconfont) format("svg")
} */

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-live_virtuals-01:before {
  content: "\E6D4"
}

.icon-content_copy:before {
  content: "\E6D2"
}

.icon-reversed-sms:before {
  content: "\E6D22"
}

.icon-ic_olympic1:before {
  content: "\E6D3"
}

.icon-svg_eicehockey:before {
  content: "\E6D1"
}

.icon-svg_ebasketball:before {
  content: "\E6CF"
}

.icon-svg_etennis:before {
  content: "\E6D0"
}

.icon-svg_esoccer:before {
  content: "\E6CD"
}

.icon-mmaicon:before {
  content: "\E6CE"
}

.icon-help_new:before {
  content: "\E6CC"
}

.icon-home:before {
  content: "\E6CB"
}

.icon-snooker:before {
  content: "\E6CA"
}

.icon-golf:before {
  content: "\E6C9"
}

.icon-futsal:before {
  content: "\E6C8"
}

.icon-f1:before {
  content: "\E6C7"
}

.icon-boxing:before {
  content: "\E6C6"
}

.icon-american_football:before {
  content: "\E6C5"
}

.icon-virtuals_new_icon:before {
  content: "\E6C4"
}

.icon-ic_gift_check:before {
  content: "\E6C3"
}

.icon-live_games:before {
  content: "\E6BF"
}

.icon-discount_gift:before {
  content: "\E6C2"
}

.icon-free_bet_gift:before {
  content: "\E6C1"
}

.icon-cash_gift:before {
  content: "\E6C0"
}

.icon-baseball:before {
  content: "\E6BC"
}

.icon-phone-call:before {
  content: "\E6BE"
}

.icon-sms:before {
  content: "\E6BD"
}

.icon-cs_go:before {
  content: "\E6BA"
}

.icon-ic_badminton:before {
  content: "\E6BB"
}

.icon-dota:before {
  content: "\E6B9"
}

.icon-lol:before {
  content: "\E6B8"
}

.icon-gift-2:before {
  content: "\E6B7"
}

.icon-tableTennis:before {
  content: "\E6B6"
}

.icon-eSports:before {
  content: "\E6B5"
}

.icon-page2:before {
  content: "\E6B4"
}

.icon-lock-with-slot:before {
  content: "\E6B2"
}

.icon-t-shirt-1:before {
  content: "\E6B3"
}

.icon-team-base-1:before {
  content: "\E68F"
}

.icon-team-base-2:before {
  content: "\E699"
}

.icon-team-sleeve-1:before {
  content: "\E69F"
}

.icon-team-outline-1:before {
  content: "\E6A0"
}

.icon-team-sleeve-2:before {
  content: "\E6A1"
}

.icon-team-outline-2:before {
  content: "\E6A4"
}

.icon-team-base-3:before {
  content: "\E6A6"
}

.icon-team-base-4:before {
  content: "\E6A7"
}

.icon-team-sleeve-3:before {
  content: "\E6A8"
}

.icon-team-outline-3:before {
  content: "\E6A9"
}

.icon-team-base-5:before {
  content: "\E6AA"
}

.icon-team-sleeve-4:before {
  content: "\E6AB"
}

.icon-team-outline-4:before {
  content: "\E6AC"
}

.icon-team-sleeve-5:before {
  content: "\E6AD"
}

.icon-team-outline-5:before {
  content: "\E6AE"
}

.icon-team-base-6:before {
  content: "\E6AF"
}

.icon-team-sleeve-6:before {
  content: "\E6B0"
}

.icon-team-outline-6:before {
  content: "\E6B1"
}

.icon-scheduled-virtuals:before {
  content: "\E68A"
}

.icon-instant-virtuals:before {
  content: "\E69D"
}

.icon-fantasy:before {
  content: "\E69E"
}

.icon-won:before {
  content: "\E69C"
}

.icon-iw_team_logo_sleeve:before {
  content: "\E698"
}

.icon-iw_team_logo_base:before {
  content: "\E697"
}

.icon-iw_team_logo_top:before {
  content: "\E695"
}

.icon-plus-circle:before {
  content: "\E696"
}

.icon-captain_unselected:before {
  content: "\E694"
}

.icon-minus-circle:before {
  content: "\E690"
}

.icon-captain_selected:before {
  content: "\E691"
}

.icon-vc_unselected:before {
  content: "\E692"
}

.icon-vc_selected:before {
  content: "\E693"
}

.icon-clock:before {
  content: "\E68E"
}

.icon-t-shirt-bg:before {
  content: "\E607"
}

.icon-collar:before {
  content: "\E60A"
}

.icon-t-shirt-2:before {
  content: "\E60D"
}

.icon-info:before {
  content: "\E68B"
}

.icon-flag-plus:before {
  content: "\E68C"
}

.icon-timer:before {
  content: "\E689"
}

.icon-calendar:before {
  content: "\E61A"
}

.icon-emoji:before {
  content: "\E688"
}

.icon-_CommentCopyx:before {
  content: "\E687"
}

.icon-_x:before {
  content: "\E686"
}

.icon-Pathx:before {
  content: "\E685"
}

.icon-_SportyCoinsx:before {
  content: "\E684"
}

.icon-_ME-PromotionsCop:before {
  content: "\E683"
}

.icon-_Help-DepositFaile:before {
  content: "\E67E"
}

.icon-_Help-LiveChatx:before {
  content: "\E681"
}

.icon-_Help-phoneCallx:before {
  content: "\E682"
}

.icon-Ball-Tennisx1:before {
  content: "\E680"
}

.icon-Ball-Cricketx:before {
  content: "\E673"
}

.icon-Ball-Basketx:before {
  content: "\E674"
}

.icon-Ball-Dartsx:before {
  content: "\E675"
}

.icon-Ball-BeachVolleyx:before {
  content: "\E676"
}

.icon-Ball-handballx:before {
  content: "\E67A"
}

.icon-Ball-Rugbyx:before {
  content: "\E67B"
}

.icon-Ball-IceHockeyx:before {
  content: "\E67C"
}

.icon-Ball-footabllx:before {
  content: "\E67D"
}

.icon-Ball-Volleyballx:before {
  content: "\E67F"
}

.icon-CombinedShape:before {
  content: "\E679"
}

.icon-shop_x:before {
  content: "\E678"
}

.icon-_editx:before {
  content: "\E671"
}

.icon-_backspaceCopyx:before {
  content: "\E672"
}

.icon-_Keyboardx:before {
  content: "\E670"
}

.icon-_Analyzex:before {
  content: "\E667"
}

.icon-_Commentx:before {
  content: "\E669"
}

.icon-_VoteUpx:before {
  content: "\E66B"
}

.icon-_Chatx:before {
  content: "\E66C"
}

.icon-_Votedx:before {
  content: "\E66D"
}

.icon-_Marketx:before {
  content: "\E66E"
}

.icon-help:before {
  content: "\E66F"
}

.icon-shouji:before {
  content: "\E666"
}

.icon-FlexiBetx:before {
  content: "\E66A"
}

.icon-geren:before {
  content: "\E662"
}

.icon-live:before {
  content: "\E663"
}

.icon-LoadCodex:before {
  content: "\E661"
}

.icon-jiaoyijilu:before {
  content: "\E660"
}

.icon-chongzhi:before {
  content: "\E65E"
}

.icon-tixian:before {
  content: "\E65F"
}

.icon-Trashx:before {
  content: "\E65D"
}

.icon-facebookhover:before {
  content: "\E65C"
}

.icon-group-:before {
  content: "\E668"
}

.icon-social-whatsapp:before {
  content: "\E65B"
}

.icon-all:before {
  content: "\E68D"
}

.icon-group:before {
  content: "\E665"
}

.icon-rili:before {
  content: "\E664"
}

.icon-xiaolian:before {
  content: "\E79E"
}

.icon-kulian-line:before {
  content: "\E6A2"
}

.icon-dianzan:before {
  content: "\E60F"
}

.icon-lock_outline_black_:before {
  content: "\E650"
}

.icon-credit_card_black_:before {
  content: "\E652"
}

.icon-date_range_black_p:before {
  content: "\E659"
}

.icon-me-how-to:before {
  content: "\E65A"
}

.icon-Live-Statistic:before {
  content: "\E64A"
}

.icon-Live-Stream:before {
  content: "\E64E"
}

.icon-Live-tracker:before {
  content: "\E64F"
}

.icon-Homex:before {
  content: "\E649"
}

.icon-LockCopyx:before {
  content: "\E647"
}

.icon-twitter:before {
  content: "\E642"
}

.icon-instegrame-copy:before {
  content: "\EB6A"
}

.icon-chatx:before {
  content: "\E657"
}

.icon-loudspeaker:before {
  content: "\E656"
}

.icon-Safaricomgray:before {
  content: "\E64D"
}

.icon-mpesagray:before {
  content: "\E64C"
}

.icon-x:before {
  content: "\E653"
}

.icon-licensex:before {
  content: "\E655"
}

.icon-livechatx:before {
  content: "\E646"
}

.icon-ic_info:before {
  content: "\E64B"
}

.icon-Top:before {
  content: "\E60C"
}

.icon-Slider:before {
  content: "\E625"
}

.icon-Swich_OFF:before {
  content: "\E628"
}

.icon-ChechBox_checked:before {
  content: "\E638"
}

.icon-Play_Hide:before {
  content: "\E63E"
}

.icon-Swich_ON:before {
  content: "\E63F"
}

.icon-Play:before {
  content: "\E640"
}

.icon-HideAndSeeCopy:before {
  content: "\E641"
}

.icon-Refresh:before {
  content: "\E645"
}

.icon-giftCheckbox:before {
  content: "\E622"
}

.icon-accountx:before {
  content: "\E644"
}

.icon-cricket:before {
  content: "\E643"
}

.icon-share-fb:before {
  content: "\E63D"
}

.icon-dollar2:before {
  content: "\E63C"
}

.icon-duigou:before {
  content: "\E63B"
}

.icon-user_dft:before {
  content: "\E639"
}

.icon-mail:before {
  content: "\E63A"
}

.icon-flash:before {
  content: "\E637"
}

.icon-mobile:before {
  content: "\E630"
}

.icon-setting:before {
  content: "\E631"
}

.icon-promotions:before {
  content: "\E632"
}

.icon-gift:before {
  content: "\E633"
}

.icon-banlence:before {
  content: "\E634"
}

.icon-file-download:before {
  content: "\E635"
}

.icon-add_circle_black:before {
  content: "\E636"
}

.icon-jackpot:before {
  content: "\E629"
}

.icon-result:before {
  content: "\E62A"
}

.icon-tv:before {
  content: "\E62B"
}

.icon-livescore:before {
  content: "\E62C"
}

.icon-sports:before {
  content: "\E62E"
}

.icon-virtual:before {
  content: "\E62F"
}

.icon-wincup:before {
  content: "\E626"
}

.icon-dollar:before {
  content: "\E627"
}

.icon-exclamation:before {
  content: "\E624"
}

.icon-icon-user:before {
  content: "\E621"
}

.icon-Shape:before {
  content: "\E61F"
}

.icon-arrowback:before {
  content: "\E620"
}

.icon-loading-circle:before {
  content: "\E654"
}

.icon-question:before {
  content: "\E61E"
}

.icon-cup:before {
  content: "\E619"
}

.icon-pageques:before {
  content: "\E61B"
}

.icon-sportbet:before {
  content: "\E618"
}

.icon-light:before {
  content: "\E612"
}

.icon-safe:before {
  content: "\E615"
}

.icon-page:before {
  content: "\E616"
}

.icon-cashout:before {
  content: "\E617"
}

.icon-logo:before {
  content: "\E610"
}

.icon-lock:before {
  content: "\E60E"
}

.icon-ac-right:before {
  content: "\E60B"
}

.icon-check:before {
  content: "\E658"
}

.icon-angleleft:before {
  content: "\E604"
}

.icon-print:before {
  content: "\E77B"
}

.icon-delete:before {
  content: "\E602"
}

.icon-checknor:before {
  content: "\E614"
}

.icon-star:before {
  content: "\E898"
}

.icon-sanjiaoxing:before {
  content: "\E62D"
}

.icon-zhiding:before {
  content: "\E600"
}

.icon-checkmark:before {
  content: "\E611"
}

.icon-sanjiaoxing1:before {
  content: "\E6A3"
}

.icon-arrowRight-copy:before {
  content: "\E603"
}

.icon-facebookf:before {
  content: "\E6E2"
}

.icon-hide:before {
  content: "\E76B"
}

.icon-jiantou-xia:before {
  content: "\E605"
}

.icon-error:before {
  content: "\E606"
}

.icon-arrowll-right:before {
  content: "\E608"
}

.icon-jiantou-copy:before {
  content: "\E609"
}

.icon-qushitu:before {
  content: "\E61D"
}

.icon-error1:before {
  content: "\E623"
}

.icon-tips:before {
  content: "\E651"
}

.icon-wifi:before {
  content: "\E733"
}

.icon-tick1:before {
  content: "\E69B"
}

.icon-edit1:before {
  content: "\E61C"
}

.icon-loading:before {
  content: "\E648"
}

.icon-UploadCloud:before {
  content: "\E601"
}

.icon-search:before {
  content: "\E613"
}

.icon-delete8e:before {
  content: "\E677"
}

.icon-close:before {
  content: "\E69A"
}

.icon-less:before {
  content: "\E6A5"
}

.m-dialog.opennet-dialog-style {
  overflow-y: auto
}

.m-dialog.opennet-dialog-style .m-dialog-head h1 {
  font-size: 20px
}

@media only screen and (min-width:768px) and (max-width:1024px) and (max-height:1024px), only screen and (min-width:1024px) and (max-width:1439px), only screen and (min-width:1440px) and (max-width:2559px), only screen and (min-width:2560px) {
  .m-dialog.opennet-dialog-style .m-dialog-head {
    padding-left: 24px;
    padding-right: 24px
  }

  .m-dialog.opennet-dialog-style .m-dialog-head .m-dialog-close {
    display: none
  }
}

@media only screen and (min-width:768px) and (max-width:1024px) and (max-height:1024px), only screen and (min-width:1024px) and (max-width:1439px), only screen and (min-width:1440px) and (max-width:2559px), only screen and (min-width:2560px) {
  .m-dialog.opennet-dialog-style .m-dialog-body:first-child {
    margin-top: 20px
  }
}

.m-dialog.opennet-dialog-style .m-dialog-body:not(:last-child) {
  margin-bottom: 20px
}

.m-dialog.opennet-dialog-style .m-dialog-body .m-dialog-main {
  color: #353a45;
  font-size: 16px
}

@media only screen and (min-width:768px) and (max-width:1024px) and (max-height:1024px), only screen and (min-width:1024px) and (max-width:1439px), only screen and (min-width:1440px) and (max-width:2559px), only screen and (min-width:2560px) {
  .m-dialog.opennet-dialog-style .m-dialog-body .m-dialog-main {
    font-size: 14px;
    padding: 0 24px
  }
}

.m-dialog.opennet-dialog-style .m-dialog-footer {
  padding: 0 24px
}

@media only screen and (min-width:768px) and (max-width:1024px) and (max-height:1024px), only screen and (min-width:1024px) and (max-width:1439px), only screen and (min-width:1440px) and (max-width:2559px), only screen and (min-width:2560px) {
  .m-dialog.opennet-dialog-style .m-dialog-footer {
    margin-bottom: 20px
  }
}

.m-dialog.opennet-dialog-style .m-dialog-footer .es-dialog-btn {
  background-color: initial;
  border: none;
  color: #0d9737;
  font-size: 14px;
  font-weight: 700;
  min-width: 75px;
  width: auto
}

.m-dialog.opennet-dialog-style .m-dialog-footer .es-dialog-btn:hover {
  background-color: initial;
  color: #0d9737;
  cursor: pointer
}

.m-dialog.opennet-dialog-style.has-oppositive-button .m-dialog-footer .es-dialog-btn:first-child {
  color: #9ca0ab
}

.m-dialog.opennet-dialog-style.has-oppositive-button__reverse .m-dialog-footer .es-dialog-btn:last-child {
  color: #9ca0ab
}

.m-dialog.opennet-dialog-style.has-oppositive-button-right .m-dialog-footer .es-dialog-btn:last-child {
  color: #9ca0ab
}

.m-dialog.opennet-dialog-style.no-padding-on-main .m-dialog-body .m-dialog-main {
  padding: 0
}

.m-dialog.opennet-dialog-style.no-fixed-height-header .m-dialog-head h1 {
  height: auto
}

.m-dialog.pure-container, .m-dialog.pure-container .m-dialog-body .m-dialog-main {
  padding: 0
}

/* @font-face {
  font-family: avenirNext;
  src: url(//s.sporty.net/ng/main/modules/main/desktop/common/core/style/font/avenirNext-Regular.aaed737e6d.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap
} */

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

img {
  border-style: none
}

body {
  min-width: 996px;
  height: 100%
}

body, button, input, select, textarea {
  font-size: 12px;
  /* font-family: avenirNext, arial, simsun */
}

.m-image-wrapper>img {
  width: 100%;
  height: 100%
}

.m-text-second {
  font-size: 13px;
  line-height: 1
}

.m-icon-reversed-sms:before {
  content: "\E6D22";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.m-icon--vFootball:before {
  content: "\E6D4";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.m-icon--snooker:before {
  content: "\E6CA";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0);
    transform: rotate(0deg) translateZ(0)
  }

  to {
    -webkit-transform: rotate(1turn) translateZ(0);
    transform: rotate(1turn) translateZ(0)
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0);
    transform: rotate(0deg) translateZ(0)
  }

  to {
    -webkit-transform: rotate(1turn) translateZ(0);
    transform: rotate(1turn) translateZ(0)
  }
}

.s-header .m-login-bar {
  float: right;
  font-size: 0;
  height: 34px;
  line-height: 34px;
  position: relative
}

.s-header .m-login-bar:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both
}

.s-header .m-login-bar ::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, .5)
}

.s-header .m-login-bar ::-moz-placeholder {
  color: hsla(0, 0%, 100%, .5)
}

.s-header .m-login-bar ::-ms-input-placeholder {
  color: hsla(0, 0%, 100%, .5)
}

.s-header .m-login-bar ::placeholder {
  color: hsla(0, 0%, 100%, .5)
}

.s-header .m-login-bar .m-info .m-icon-toggle {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  margin-right: 5px;
  vertical-align: top
}

.s-header .m-login-bar .m-info .m-icon-toggle:before {
  content: "\E76B";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-header .m-login-bar .m-info .m-icon-toggle:before {
  font-size: 14px
}

.s-header .m-login-bar .m-info .m-icon-toggle.on:before {
  content: "\E641";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-header .m-login-bar .m-info .m-icon-refresh {
  color: #fff;
  display: inline-block;
  height: 34px;
  vertical-align: top
}

.s-header .m-login-bar .m-info .m-icon-refresh:before {
  content: "\E645";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-header .m-login-bar .m-info .m-icon-refresh:before {
  display: inline-block;
  font-size: 14px
}

.s-header .m-login-bar .m-info .m-icon-refresh:hover {
  cursor: pointer
}

.s-header .m-login-bar .m-info .m-icon-refresh.loading:before {
  -webkit-animation: rotating 1s infinite;
  animation: rotating 1s infinite
}

.s-header .m-login-bar .m-info:not(.on) .m-icon-toggle {
  display: none
}

.s-header .m-login-bar.m-login-bar-fix .m-info, .s-header .m-login-bar .m-opt {
  display: block
}

.s-header .m-login-bar.m-login-bar-fix .m-forgetPsd, .s-header .m-login-bar.m-login-bar-fix .m-opt {
  display: none
}

.s-header .m-login-bar .m-phone-wrapper, .s-header .m-login-bar .m-psd-wrapper {
  display: inline-block;
  position: relative;
  z-index: 20
}

.s-header .m-login-bar .m-phone-wrapper .m-error-wrapper, .s-header .m-login-bar .m-psd-wrapper .m-error-wrapper {
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #e41827;
  font-size: 12px;
  left: 0;
  line-height: 16px;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 38px;
  white-space: nowrap;
  word-break: keep-all
}

.s-header .m-login-bar .m-phone-wrapper .m-error-wrapper:before, .s-header .m-login-bar .m-psd-wrapper .m-error-wrapper:before {
  border-bottom: 6px solid #fff;
  border-left: 6px solid rgba(0, 0, 0, 0);
  border-right: 6px solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  left: 6px;
  position: absolute;
  top: -6px;
  width: 0
}

.s-header .m-login-bar .m-phone-wrapper:not(.on) .m-error-wrapper, .s-header .m-login-bar .m-psd-wrapper:not(.on) .m-error-wrapper {
  display: none
}

.s-header .m-login-bar .m-bablance-wrapper, .s-header .m-login-bar .m-phone, .s-header .m-login-bar .m-phone-wrapper, .s-header .m-login-bar .m-psd, .s-header .m-login-bar .m-psd-wrapper, .s-header .m-login-bar .m-text {
  display: inline-block;
  vertical-align: top
}

.s-header .m-login-bar .m-bablance-wrapper:after {
  background: #fff;
  content: "";
  display: inline-block;
  height: 14px;
  margin: 0 8px 0 16px;
  vertical-align: middle;
  width: 1px
}

.s-header .m-login-bar .m-deposit:after, .s-header .m-login-bar .m-history:after {
  background: #fff;
  content: "";
  display: inline-block;
  height: 14px;
  margin: 0 0 0 16px;
  vertical-align: middle;
  width: 1px
}

.s-header .m-login-bar .m-history {
  position: relative
}

.s-header .m-login-bar .m-history a {
  color: #fff;
  text-decoration: none
}

.s-header .m-login-bar .m-history a:active, .s-header .m-login-bar .m-history a:hover {
  color: #fff
}

.s-header .m-login-bar .m-history .tips-wrapper {
  display: inline-block
}

.s-header .m-login-bar .m-phone-wrapper {
  height: 32px;
  margin-right: 5px
}

.s-header .m-login-bar .m-phone-wrapper.on {
  border: 1px solid #fafd00;
  border-radius: 2px
}

.s-header .m-login-bar .m-psd-wrapper.on input {
  border: 1px solid #fafd00;
  border-right: 0
}

.s-header .m-login-bar .m-error-toast {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
  vertical-align: middle
}

.s-header .m-login-bar .m-phone, .s-header .m-login-bar .m-psd {
  border-radius: 2px;
  height: 32px;
  overflow: hidden;
  background: #590101
}

.s-header .m-login-bar .m-phone input, .s-header .m-login-bar .m-psd input {
  background: #590101;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 100%;
  outline: none;
  padding: 10px
}

.s-header .m-login-bar .m-phone>input, .s-header .m-login-bar .m-phone>span {
  display: inline-block;
  vertical-align: middle
}

.s-header .m-login-bar .m-phone>span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  padding: 0 0 0 15px
}

.s-header .m-login-bar .m-psd input {
  vertical-align: top;
  width: 173px
}

.s-header .m-login-bar .m-psd .m-btn-login {
  border-radius: 0 2px 2px 0
}

.s-header .m-login-bar .m-btn, .s-header .m-login-bar .m-text {
  color: #fff
}

.s-header .m-login-bar .m-text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0 8px
}

.s-header .m-login-bar .m-balance {
  color: #fafd00;
  font-weight: 700
}

.s-header .m-login-bar a:hover {
  text-decoration: none
}

.s-header .m-login-bar .m-error-wrapper {
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1.5;
  text-align: right
}

.s-header .m-login-bar .m-error-wrapper .m-text-highlight {
  color: #3656a3
}

.s-header .m-login-bar .m-error-wrapper .m-icon-tips {
  color: #e41827
}

.s-header .m-login-bar .m-error-wrapper .m-icon-tips:before {
  content: "\E623";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-header .m-login-bar .m-error-wrapper .m-icon-tips:before {
  display: inline-block;
  font-size: 12px;
  margin-right: 4px
}

.s-header .m-login-bar .m-userInfo {
  outline: none;
  position: relative;
  z-index: 999
}

.s-header .m-login-bar .m-userInfo .m-user-center {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  display: none
}

.s-header .m-login-bar .m-userInfo:hover {
  cursor: pointer
}

.s-header .m-login-bar .m-userInfo:hover .m-user-center {
  display: block
}

.s-header .m-login-bar .m-userInfo:hover .m-balance-tips {
  display: none
}

/* .s-header .m-login-bar .m-userInfo:before {
  content: "\E6A3";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-header .m-login-bar .m-userInfo:before {
  color: hsla(0, 0%, 100%, .7);
  float: right;
  font-size: 10px;
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0)
} */

.s-header .m-login-bar .m-userInfo .m-user-center {
  background: #fff;
  border: none;
  color: #000;
  font-size: 12px;
  padding: 0;
  position: absolute;
  right: -8px;
  width: 126px
}

.s-header .m-login-bar .m-userInfo .m-user-center .m-list-item--active {
  margin: 0
}

.s-header .m-login-bar .m-userInfo .m-list-bar {
  border-bottom: 1px solid #f2f3f5;
  border-top: 1px solid #f2f3f5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  line-height: 1;
  padding: 7px
}

.s-header .m-login-bar .m-userInfo .m-list-bar:last-of-type {
  color: #e41827
}

.s-header .m-login-bar .m-userInfo .m-balance div>* {
  display: inline-block;
  height: 100%;
  line-height: 18px;
  vertical-align: top
}

.s-header .m-login-bar .m-userInfo .m-list-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1;
  padding: 7px
}

.s-header .m-login-bar .m-userInfo .m-list-item:hover {
  color: #32ce62;
  cursor: pointer
}

.s-header .m-login-bar .m-userInfo .m-list-item:active {
  color: #33ea6a
}

.s-header .m-login-bar .m-userInfo .m-list-item:before {
  content: ""
}

.s-header .m-login-bar .m-userInfo .m-list-item--active:hover {
  background: #fff
}

.s-header .m-login-bar .m-userInfo .first {
  padding-top: 10px
}

.s-header .m-login-bar .m-userInfo .last {
  padding-bottom: 10px
}

.s-header .m-login-bar .m-userInfo.m-userInfo-fix .m-list-item--active {
  background: #fff;
  color: #000
}

.s-header .m-login-bar .m-userInfo.m-userInfo-fix .m-list-item--active:hover {
  color: #32ce62
}

.s-header .m-login-bar .m-operation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.s-header .m-login-bar .m-forgetPsd {
  text-decoration: none
}

.s-header .m-login-bar .m-activate, .s-header .m-login-bar .m-forgetPsd {
  color: hsla(0, 0%, 100%, .6);
  display: inline-block;
  font-size: 12px;
  line-height: 16px
}

.s-header .m-login-bar .m-activate {
  margin-left: 15px;
  cursor: pointer
}

.s-header .m-btn-login, .s-header .m-btn-register, .s-header .m-third-party {
  color: #fff;
  display: inline-block;
  vertical-align: top
}

.s-header .m-btn-login, .s-header .m-btn-register {
  cursor: pointer;
  font-size: 12px;
  height: 32px;
  width: 65px
}

.s-header .m-btn-login {
  background: #3e090d;
  border: none;
  border-radius: 2px
}

.s-header .m-btn-register {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #fff !important;
  border: none;
  border-radius: 2px;
  margin-left: 10px
}

.s-header .m-third-party {
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  height: 30px;
  margin-left: 10px;
  width: 30px
}

.s-header .m-third-party:before {
  content: "\E6E2";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-header .m-third-party:before {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  width: 100%
}

.s-header {
  width: 100%
}

.s-header .m-top-wrapper {
  background: #e41827
}

.s-header .m-nav-wrapper {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  position: relative
}

.s-header .m-logo-bar {
  padding: 20px 0 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.s-header .m-logo-bar .m-logo-wrapper {
  display: inline-block;
  text-decoration: none
}

.s-header .m-logo-bar .m-image-wrapper {
  display: inline-block;
  vertical-align: middle;
  /* width: 173px; */
  height: 34px
}

.s-header .m-logo-bar .m-image-country {
  height: 20px;
  width: 100px
}

.s-header .m-nav-main {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto
}

.s-header .m-nav-main #topHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-right: 10px
}

.s-header .m-nav-main .m-image-wrapper {
  width: 50px;
  height: 50px;
  display: inline-block;
  display: none
}

.s-header .m-nav-main .m-timezone {
  float: right;
  text-align: right;
  font-size: 14px;
  color: #fff
}

.s-header .m-nav-main .m-timezone:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both
}

.s-header .m-nav-main .m-login-wapper {
  display: none
}

.s-header .m-nav-main .m-flex-item {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  font-weight: 700;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px
}

.s-header .m-nav-main .m-flex-item>span {
  display: inline-block;
  text-align: center;
  max-width: 80px
}

.s-header .m-nav-main .m-flex-item:hover {
  background: rgba(0, 0, 0, .15);
  /* border-radius: 5px 5px 0 0; */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: skewX(-6deg);
  -ms-transform: skewX(-6deg);
  transform: skewX(-6deg);
}

.s-header .m-nav-main .m-flex-item:hover>span {
  border-radius: 5px 5px 0 0;
}

.s-header .m-nav-main .m-flex-item--active, .s-header .m-nav-main .m-flex-item.nuxt-link-exact-active {
  background: #fff;
  color: #e41827;
  padding: 18px 0;
  -webkit-transform: skewX(-6deg);
  -ms-transform: skewX(-6deg);
  transform: skewX(-6deg);
}

.s-header .m-nav-main .m-flex-item--fix {
  position: relative
}

.s-header .m-image-wrapper>img {
  width: 100%;
  height: 100%
}

.s-header .m-header-item {
  display: table;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0
}

.s-header .m-header-item .m-flex {
  display: table-cell;
  vertical-align: middle;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 1%
}

.s-header .m-item-badge {
  position: absolute;
  top: 0;
  right: 12px;
  width: 26px;
  height: 16px
}

.s-header .m-nav-bar {
  width: 100%
}

.s-header .m-nav-bar .m-nav {
  background: #fff
}

.s-header .m-nav-bar .m-header-item {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto
}

.s-header .m-nav-bar .m-flex-item {
  display: inline-block;
  height: 100%;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  padding: 11px 16px 7px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #353a45;
  font-size: 14px;
  line-height: 19px
}

.s-header .m-nav-bar .m-flex-item:hover {
  border-bottom: 3px solid rgba(204, 12, 26, .5)
}

.s-header .m-nav-bar .m-flex-item .new-badge {
  position: absolute;
  top: 2px;
  right: 0;
  width: 28px
}

.s-header .m-nav-bar .m-flex-item.dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer
}

.s-header .m-nav-bar .m-flex-item.dropdown .arrow-icon {
  color: #0d9737
}

.s-header .m-nav-bar .m-flex-item.dropdown .arrow-icon:before {
  content: "\E603";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-header .m-nav-bar .m-flex-item.dropdown.open .arrow-icon:before {
  content: "\E6A5";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-header .m-nav-bar .m-flex-item.dropdown.open .dropdown-menu {
  display: block
}

.s-header .m-nav-bar .m-flex-item.dropdown.open:hover {
  border: none
}

.s-header .m-nav-bar .dropdown-menu {
  cursor: pointer;
  display: none;
  left: 0;
  top: 41px;
  width: 100%;
  position: absolute;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2)
}

.s-header .m-nav-bar .dropdown-menu .m-flex-item {
  width: 100%;
  background: #fff;
  color: #353a45;
  text-decoration: none;
  font-weight: 400
}

.s-header .m-nav-bar .dropdown-menu .m-flex-item:hover {
  background: #0d9737;
  color: #fff;
  border: none
}

.s-header .m-nav-bar .m-flex-item.nuxt-link-exact-active.nuxt-link-active, .s-header .m-nav-bar .m-flex-item.router-link-exact-active {
  border-bottom: 3px solid #e41827 !important;
  font-weight: 700
}

.s-header-fix {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}

.s-header-fix .m-logo-wrapper {
  display: block !important
}

.s-header-fix .m-logo-bar {
  padding: 0
}

.s-header-fix .m-logo-bar .m-left {
  display: none
}

.s-header-fix .m-logo-bar .m-login-bar {
  position: absolute;
  top: 9px;
  right: 0
}

.s-header-fix .m-logo-bar .m-forgetPsd, .s-header-fix .m-logo-bar .m-phone, .s-header-fix .m-logo-bar .m-psd input {
  display: none
}

.s-header-fix .m-logo-bar .m-error-wrapper {
  display: none !important
}

.s-header-fix .m-logo-bar .m-phone-wrapper, .s-header-fix .m-logo-bar .m-psd-wrapper {
  border: none !important
}

.s-header-fix .m-login-bar-fix .m-text {
  font-size: 12px
}

.s-header-fix .m-nav-main .m-image-wrapper {
  display: inline-block
}

.s-header-fix .m-nav-main #topHeader {
  padding-right: 190px
}

.s-header-fix .m-nav-main #topHeader.is-login {
  padding-right: 265px
}

.s-header-fix .m-nav-main #topHeader .m-flex-item--active {
  margin-right: 10px
}

.s-header-fix .m-nav-main #topHeader .m-item-badge {
  right: 0
}

.s-header-fix .m-bablance-wrapper {
  position: absolute;
  top: -5px;
  right: 100px;
  text-align: right;
  width: 180px;
  z-index: 2
}

.s-header-fix .m-bablance-wrapper:after {
  display: none !important
}

.s-header-fix .m-bablance-wrapper .m-balance {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 140px
}

.s-header-fix .m-deposit {
  position: absolute;
  line-height: 16px;
  top: 0;
  right: 0;
  margin-top: 4px;
  padding-right: 20px !important
}

.s-header-fix .m-deposit:after {
  display: none !important
}

.s-header-fix .m-history {
  display: none !important
}

.s-header-fix .m-userInfo {
  position: absolute;
  top: 18px;
  right: 0;
  line-height: 16px;
  display: inline-block;
  width: 100px;
  text-align: right
}

.s-header-fix .m-userInfo .m-user-center {
  text-align: left;
  -webkit-transform: translate3d(-8px, 4px, 0);
  transform: translate3d(-8px, 4px, 0)
}

.s-header-fix .m-timezone {
  display: none
}

.s-header-fix.s-header-on .m-timezone {
  position: absolute;
  bottom: 2px;
  right: 100px;
  font-size: 12px;
  display: block
}

.s-header-fix.s-header-on .m-error-wrapper {
  display: none
}

.s-header-fix.s-header-on .m-login-bar .m-text {
  min-width: 120px;
  text-align: right;
  z-index: 1;
  padding-bottom: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.s-header-fix.s-header-on .m-userInfo {
  margin-top: 3px
}

.s-footer .m-footer-top, .s-header-fix+.s-page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.s-footer .m-footer-top {
  background: #1b1e25;
  padding: 24px 0 18px
}

.s-footer .m-footer-top .m-col-title {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  margin-bottom: 13px
}

.s-footer .m-footer-top .m-content {
  position: relative
}

.s-footer .m-footer-top .m-col-content a {
  font-size: 12px;
  line-height: 17px;
  text-decoration: none;
  color: hsla(0, 0%, 100%, .8)
}

.s-footer .m-footer-top .m-col-content a:active, .s-footer .m-footer-top .m-col-content a:hover {
  color: #fff
}

.s-footer .m-footer-top .m-icon-more {
  color: hsla(0, 0%, 100%, .8)
}

.s-footer .m-footer-top .m-icon-more:before {
  content: "\E608";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-footer .m-footer-top .m-icon-more:before {
  margin-right: 10px;
  font-size: 10px
}

.s-footer .m-footer-top .m-icon-more:active, .s-footer .m-footer-top .m-icon-more:hover {
  color: #fff
}

.s-footer .m-footer-top .m-m-r {
  margin-right: 65px
}

.s-footer .m-footer-top .m-t-light {
  color: #0d9737
}

.s-footer .m-footer-top .m-t-small {
  line-height: 14px;
  font-size: 12px;
  font-weight: 700
}

.s-footer .m-footer-top .m-t-mid {
  line-height: 15px;
  font-size: 13px;
  font-weight: 700
}

.s-footer .m-footer-top .m-t-big {
  line-height: 28px;
  font-size: 24px;
  font-weight: 700
}

.s-footer .m-footer-top .m-row-top {
  padding-bottom: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.s-footer .m-footer-top .m-row-bottom {
  padding-top: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.s-footer .m-footer-top .m-row-bottom .m-image-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 15px
}

.s-footer .m-footer-top .m-row-bottom .i-lagos {
  width: 54px;
  height: 58px
}

.s-footer .m-footer-top .m-row-fix {
  padding-top: 12px
}

.s-footer .m-footer-top .m-row-fix .m-image-wrapper {
  width: 54px;
  height: 58px
}

.s-footer .m-footer-top .m-l-left {
  width: 96px;
  text-align: center;
  margin-right: 150px
}

.s-footer .m-footer-top .m-l-right {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right
}

.s-footer .m-footer-top .m-l-right>address {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  text-decoration: none
}

.s-footer .m-footer-top .m-icon, .s-footer .m-footer-top .m-l-right>address>a {
  display: inline-block;
  vertical-align: top
}

.s-footer .m-footer-top .m-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: #fff
}

.s-footer .m-footer-top .m-icon:last-of-type {
  margin-right: 0
}

.s-footer .m-footer-top .m-icon:active, .s-footer .m-footer-top .m-icon:hover {
  color: #fff
}

.s-footer .m-footer-top .m-icon-fb {
  background: #3b5eb4
}

.s-footer .m-footer-top .m-icon-fb:before {
  content: "\E6E2";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-footer .m-footer-top .m-icon-fb:before {
  line-height: 24px
}

.s-footer .m-footer-top .m-icon-fb:active, .s-footer .m-footer-top .m-icon-fb:hover {
  background: #4973da
}

.s-footer .m-footer-top .m-icon-twitter {
  background: #2daae1
}

.s-footer .m-footer-top .m-icon-twitter:before {
  content: "\E642";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-footer .m-footer-top .m-icon-twitter:before {
  line-height: 24px
}

.s-footer .m-footer-top .m-icon-twitter:hover {
  background: #5cbce6
}

.s-footer .m-footer-top .m-icon-twitter:active {
  background: #1378a5
}

.s-footer .m-footer-top .m-icon-ins {
  background: #e2214e
}

.s-footer .m-footer-top .m-icon-ins:before {
  content: "\EB6A";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-footer .m-footer-top .m-icon-ins:before {
  line-height: 24px
}

.s-footer .m-footer-top .m-icon-ins:hover {
  background: #e84268
}

.s-footer .m-footer-top .m-icon-ins:active {
  background: #ab1b3d
}

.s-footer .m-footer-top .m-pay {
  font-size: 12px;
  line-height: 2;
  font-weight: 600
}

.s-footer .m-footer-top .m-contact {
  color: hsla(0, 0%, 100%, .86)
}

.s-footer .m-footer-top .m-contact .phone-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}

.s-footer .m-footer-top .m-contact .m-icon-chat {
  width: 12px;
  height: 11px;
  margin-left: 5px;
  color: #cbcbcb
}

.s-footer .m-footer-top .m-contact .m-icon-chat:before {
  content: "\E646";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-footer .m-footer-top .m-contact .m-icon-chat:before {
  font-size: 12px
}

.s-footer .m-footer-top .m-contact .m-icon-chat:hover {
  color: #fff;
  cursor: pointer
}

.s-footer .m-footer-mid {
  background: #1b1e25;
  padding: 13px 0 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #3d3d3d
}

.s-footer .m-footer-mid .m-col-wrapper .m-left, .s-footer .m-footer-mid .m-col-wrapper .m-right {
  display: inline-block
}

.s-footer .m-footer-mid .m-col-wrapper .m-left {
  vertical-align: middle;
  height: 42px;
  width: 46px;
  border-radius: 50%
}

.s-footer .m-footer-mid .m-col-wrapper .m-forum {
  margin-right: 28px
}

.s-footer .m-footer-mid .m-col-wrapper .m-forum+.m-right {
  color: hsla(0, 0%, 100%, .86)
}

.s-footer .m-footer-mid .m-col-wrapper .m-forum .m-image-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px
}

.s-footer .m-footer-mid .m-col-wrapper .m-right {
  vertical-align: top;
  font-size: 12px;
  line-height: 17px
}

.s-footer .m-footer-mid .m-l-left {
  width: 112px;
  margin-right: 70px
}

.s-footer .m-footer-mid .m-l-left .m-logo-wrapper {
  display: block;
  text-decoration: none
}

.s-footer .m-footer-mid .m-l-left .m-image-wrapper {
  display: inline-block;
  margin-top: 5px;
  height: 20px;
  width: 100px
}

.s-footer .m-footer-mid .m-icon-logo {
  color: #fff
}

.s-footer .m-footer-mid .m-icon-logo:before {
  content: "\E618";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-footer .m-footer-mid .m-icon-logo:before {
  font-size: 20px
}

.s-footer .m-footer-mid .m-t-center {
  text-align: center
}

.s-footer .m-footer-mid .m-licence {
  margin: 0 20px 0 28px
}

.s-footer .m-footer-mid .m-licence .m-iamge-wrapper {
  width: 29px;
  height: 33px
}

.s-footer .m-footer-mid .m-licence+.m-right {
  color: hsla(0, 0%, 100%, .86)
}

.s-footer .m-footer-bottom {
  background: #121315
}

.s-footer .m-footer-bottom .m-content {
  display: table;
  padding: 18px 0 27px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.s-footer .m-footer-bottom .m-copy, .s-footer .m-footer-bottom .m-left {
  display: table-cell;
  vertical-align: middle
}

.s-footer .m-footer-bottom .m-left .m-image-wrapper {
  display: inline-block;
  vertical-align: top
}

.s-footer .m-footer-bottom .m-left .m-icon {
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  line-height: 26px;
  color: #fff
}

.s-footer .m-footer-bottom .m-left .m-icon:first-of-type {
  margin-right: 18px
}

.s-footer .m-footer-bottom .m-left .m-icon-safari:before {
  content: "\E64D";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-footer .m-footer-bottom .m-left .m-icon-safari:before {
  font-size: 24px
}

.s-footer .m-footer-bottom .m-left .m-icon-mpesa:before {
  content: "\E64C";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.s-footer .m-footer-bottom .m-left .m-icon-mpesa:before {
  font-size: 26px
}

.s-footer .m-footer-bottom .m-copy {
  max-width: 230px;
  width: 230px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  text-align: right
}

.s-footer .m-footer-bottom .l-item {
  display: inline-block;
  vertical-align: middle
}

.s-footer .m-footer-bottom .i-paystake {
  width: 90px;
  height: 18px;
  margin-right: 18px
}

.s-footer .m-footer-bottom .i-verve {
  width: 61px;
  height: 21px;
  margin-right: 21px
}

.s-footer .m-footer-bottom .i-masterCard {
  width: 31px;
  height: 24px;
  margin-right: 26px
}

.s-footer .m-footer-bottom .i-visa {
  width: 48px;
  height: 15px;
  margin-right: 23px
}

.s-footer .m-footer-bottom .i-access {
  width: 80px;
  height: 11px;
  margin-right: 22px
}

.s-footer .m-footer-bottom .i-diamond {
  width: 90px;
  height: 25px;
  margin-right: 25px
}

.s-footer .m-footer-bottom .i-fidelity {
  width: 71px;
  height: 17px;
  margin-right: 23px
}

.s-footer .m-footer-bottom .i-gtbank {
  width: 18px;
  height: 18px;
  margin-right: 23px
}

.s-footer .m-footer-bottom .i-zenith {
  width: 20px;
  height: 18px
}

.s-footer .m-footer-bottom .i-tiGo {
  width: 40px;
  height: 28px;
  margin-right: 41px
}

.s-footer .m-footer-bottom .i-mtn {
  width: 60px;
  height: 26px;
  margin-right: 41px
}

.s-footer .m-footer-bottom .i-airtel {
  width: 64px;
  height: 20px;
  margin-right: 41px
}

.s-footer .m-footer-bottom .i-vodafone {
  width: 68px;
  height: 17px
}

.s-footer .m-footer-bottom .i-vodacom {
  width: 100px;
  margin-right: 41px
}

.s-footer .m-content {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto
}

.s-footer .m-content>* {
  display: inline-block
}

.s-footer .m-image-wrapper>img {
  width: 100%;
  height: 100%
}

.s-footer .m-col-wrapper {
  color: #fff;
  display: inline-block;
  vertical-align: top
}

.s-gh .m-footer-top .m-row-top {
  border-bottom: 1px dotted #0d9737
}

.s-gh .m-footer-top .m-row-top .m-image-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 17px;
  margin-right: 6px
}

.s-gh .m-footer-top .m-row-bottom {
  padding-top: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0
}

.s-gh .m-footer-top .m-row-bottom .m-image-wrapper {
  width: 60px;
  height: 51px
}

.s-gh .m-footer-mid .m-l-left .m-t-pad {
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

@media only screen and (min-width:1024px) and (max-width:1439px), only screen and (min-width:1440px) and (max-width:2559px) {
  html {
    font-size: 12px
  }
}

@media only screen and (min-width:2560px) {
  html {
    font-size: 14px
  }
}
